<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Welcome and Choose a Course</title>
    <style>
        .wrap {
            margin: 10px 200px;
            padding: 50px;
            border-radius: 10px;
            background-color: aliceblue;
            box-shadow: 10px 10px lightblue;
        }
    </style>
</head>
<body th:with="isAdmin=${#authentication.getName()!='anonymousUser'}">
<div class="wrap">
<header>
    <div th:if="${!isAdmin}" style="margin-bottom: 20px">
    <a style="text-decoration:none; color:white; font-weight:bold;
    padding: 10px; background-color: lightblue; font-style:italic;" href="/login">Login</a>
    </div>
    <h2>Choose course:</h2>
</header>
<main>
    <form action="/courses/manageStudents" method="get">
        <th:block th:each="course:${#lists.sort(courses)}">
        <input type="radio" name="courseChoice" th:attr="value=${course.getCourseId()}"> <th:block th:text="${course.getName()}"></th:block>
            <a th:if="${isAdmin}" style="margin-left:10px; font-weight:bold" th:href="@{'/courses/delete/' + ${course.getCourseId()}}">(DELETE)</a>
            <a th:if="${isAdmin}" style="margin-left:10px; font-weight:bold" th:href="@{'/courses/edit-form/' + ${course.getCourseId()}}">(EDIT)</a><br/>
        </th:block>
        <br/>
        <input type='submit' th:value="${isAdmin} ? 'Manage students' : 'View students'" style="margin-bottom: 20px;
        text-decoration:none; color:white; font-weight:bold; padding: 5px;
        border:none; box-shadow: 2px 2px lightblue; background-color: lightsalmon"/> <br/>
        <a th:if="${isAdmin}" style="text-decoration:none; color:white; font-weight:bold; padding: 5px; background-color: lightblue;
            margin-top:5px; box-shadow: 2px 2px lightblue" href="/courses/add-form">+ New course</a> <br/>
        <p style="color:red" th:text="${error!='null'} ? ${error} : ''"></p>
    </form>
</main>
</div>
</body>
</html>

