<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Add new Student to Course</title>
    <style>
        .wrap {
            margin: 10px 200px;
            padding: 50px;
            border-radius: 10px;
            background-color: aliceblue;
            box-shadow: 10px 10px lightblue;
        }
    </style>
</head>
<body th:with="isAdmin=${#authentication.getName()!='anonymousUser'}">
<div class="wrap">
<header>
    <div th:if="${!isAdmin}" style="margin-bottom: 20px; font-weight: bold">
        <a style="text-decoration:none; color:white; font-weight:bold;
    padding: 10px; background-color: lightblue; font-style:italic;" href="/login">Login</a>
    </div>
    <div style="font-weight: bold">
    <th:block th:text="${isAdmin} ? 'Select the student to enroll:' : 'List of currently enrolled university students:'"></th:block>
    </div>
</header>
<section>
    <a th:if="${isAdmin}" style="text-decoration:none; color:white; font-weight:bold; padding: 5px; background-color: lightblue;
            margin-top:5px; box-shadow: 2px 2px lightblue" href='/createStudent.html' type='button'>+ New Student</a> <br/> <br/>
    <form action="/courses/enrollmentsForCourse" method="get">
    <th:block th:each="student:${students}">
    <input th:type="${isAdmin} ? 'radio' : 'hidden' " name="username" th:attr="value=${student.getUsername()}">
        <th:block th:text="${student.getName()} + ' ' + ${student.getSurname()}"></th:block><br/></th:block>
    <br/>
    <input th:if="${isAdmin}" type='submit' style="margin-bottom: 20px;
        text-decoration:none; color:white; font-weight:bold; padding: 5px;
        border:none; box-shadow: 2px 2px lightblue; background-color: lightsalmon" value='Enroll'>
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status:
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td><th:block th:text="${session.courseChoice}"/></td>
        </tr>
    </table>
</aside>
</div>
</body>
</html>